{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block title-meta %}
        افزودن خودرو
{% endblock %}

{% block main %}
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title mb-0 float-left">افزودن خودرو</h3>
              </div>
              <form method="post" enctype="multipart/form-data"> {% csrf_token %}

                <div class="row" style="padding: 20px">
                    <div class="col-6">
                        {{ form.title|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.slug|as_crispy_field }}
                    </div>

                    <div class="col-6">
                        {{ form.Category|as_crispy_field }}
                    </div>


                    <div class="col-12">
                        {{ form.description|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.color|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.year|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.image|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.publish|as_crispy_field }}
                    </div>

                      <div class="col-6">
                        {{ form.production_name|as_crispy_field }}
                    </div>
                {% if user.is_superuser %}
                    <div class="col-6">
                        {{ form.status|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.is_special|as_crispy_field }}
                    </div>

                    <div class="col-6">
                        {{ form.author|as_crispy_field }}
                    </div>
                 {% else %}
                    <dic class="col-6">
                        <div id="div_id_status" class="form-group">
                            <label for="id_status" class="requiredFiled">

                            </label>
                            <div class="">
                                <select name="status" class="select form-control" required="" id="id_status">
                                    <option value="">---------</option>
                                    <option value="i">ارسال برای ادمین</option>
                                    <option value="d">پیشنویس</option>
                                </select>
                            </div>
                        </div>
                    </dic>
                {% endif %}
                <button class="btn btn-success"style="margin-right: 12px" >ارسال</button>
                </div>
              </form>
            </div>
    </div>
{% endblock %}