

<form method="post" style="text-align: center; margin-top: 200px; font-size: 60px">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>