{% extends 'registration/base.html' %}

{% block main %}
    <div class="row" style="margin-right: 20px !important;">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>حذف خودرو</th>
                      <th>نام خودرو</th>
                        <th></th>
                        <th>ویژه</th>
                        <th>تاریخ</th>
                        <th>مشخصات</th>
                        <th>تصویر</th>



                    </tr>
                  </thead>
                  <tbody>
                  {% for obj in object_list %}
                    <tr>
                    <td>
                        {% if user.is_superuser %}
                            <a href="{% url 'account:car_delete' obj.pk %}"><button class="btn btn-danger">حذف</button></a>
                        {% endif %}
                    </td>
                      <td>
                          {% if object_list.status == 'd' or object_list.status == 'b' or user.is_superuser %}
                              <a href="{% url 'account:car_update' obj.pk %}">{{ obj.title }}</a>
                          {% else %}
                          {{ obj.title }}
                          {% endif %}
                      </td>
                      <td>{{ obj.author.get_full_name }}</td>
                    {% if obj.is_special %}
                      <td><i class="fa fa-check-circle" style="color: green"></i></td>
                    {% else %}
                      <td><i class="fa fa-minus-circle" style="color: red"></i></td>
                    {% endif %}
                      <td><span class="tag tag-success">{{ obj.publish }}</span></td>
                      <td>{{ obj.description|truncatewords:10 }}</td>
                      <td><img src="{{ obj.image.url }}" width="120px"> </td>

                    </tr>
                    <tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


{% endblock %}