{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block title-meta %}
        تغییر گذرواژه
{% endblock %}

{% block main %}
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
              </div>
              <form method="post"> {% csrf_token %}

                <div class="row" style="padding: 20px">
                    <div class="col-6">
                        {{ form.old_password|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.new_password1|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.new_password2|as_crispy_field }}
                    </div>



                <button class="btn btn-success"style="margin-right: 12px" >ارسال</button>
                </div>
              </form>
            </div>
    </div>
{% endblock %}