{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block title-meta %}
        پروفایل کاربری
{% endblock %}

{% block main %}
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
              </div>
              <form method="post" enctype="multipart/form-data"> {% csrf_token %}

                <div class="row" style="padding: 20px">
                    <div class="col-6">
                        {{ form.username|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.email|as_crispy_field }}
                    </div>

                    <div class="col-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.special_user|as_crispy_field }}
                    </div>


                    <div class="col-6">
                        {{ form.is_author|as_crispy_field }}
                    </div>

                <button class="btn btn-success"style="margin-right: 12px" >ارسال</button>
                </div>
              </form>
            </div>
    </div>
{% endblock %}