{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href= "{% static 'registeration/login/images/icons/favicon.ico'%} "/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/css/main.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'registeration/login/css/my.css'%}">
<!--===============================================================================================-->
</head>
<body>

                {% if form.non_field_errors %}
                <div class="field_error">
                    {% for error in form.non_field_errors %}
                        <p class="field-error-p">{{ error  }}</p>
                    {% endfor %}
                </div>
                {% endif %}


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form class="login100-form validate-form" method="post"> {% csrf_token %}
					<span class="login100-form-title p-b-26">
						ثبت نام کنید
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

                        	<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						{{form.username|add_class:"input100"}}
						<span class="focus-input100" data-placeholder="نام کاربری"></span>
						{% if form.username.errors %}
							<div class="myerrors">
								{{form.username.errors}}
							</div>
						{% endif %}
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						{{form.email|add_class:"input100"}}
						<span class="focus-input100" data-placeholder="ایمیل"></span>
						{% if form.email.errors %}
							<div class="myerrors">
								{{form.email.errors}}
							</div>
						{% endif %}
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						{{form.password1|add_class:"input100"}}
						<span class="focus-input100" data-placeholder="گذرواژه"></span>
						{% if form.password1.errors %}
							<div class="myerrors">
								{{form.password1.errors}}
							</div>
						{% endif %}
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						{{form.password2|add_class:"input100"}}
						<span class="focus-input100" data-placeholder="تایید گذرواژه"></span>
						{% if form.password2.errors %}
							<div class="myerrors">
								{{form.password2.errors}}
							</div>
						{% endif %}
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								ثبت نام
							</button>
						</div>
					</div>

					<center style="margin-top: 40px">
                        <span class="txt1" style="margin-top:10px !important;">
							حسابی دارید؟
						</span>&nbsp;
                        <a class="txt2" href="{% url 'Login' %}">
							وارد شوید
						</a>
                    </center>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>