{% load gravatar %}
{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'adminlte/dist/img/AdminLTELogo.png'%}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">پنل کاربری</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% gravatar_url user.email 150 %}" class="img-circle elevation-2" alt="{{ user.email }}">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.get_full_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                خودرو
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                {% if user.is_superuser or user.is_author %}
                    <li class="nav-item">
                <a href="{% url 'account:admin' %}" class="nav-link active">
                  <i class="fa fa-list nav-icon"></i>
                  <p>لیست خودرو ها</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'account:car_create' %}" class="nav-link">
                  <i class="fa fa-edit nav-icon"></i>
                  <p>افزودن خودرو</p>
                </a>
              </li>
            </ul>
          </li>
                {% endif %}

          <li class="nav-item">
            <a href="{% url 'account:profile' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                پروفایل
                <span class="right badge badge-danger">جدید</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'password_change' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                تغییر گذرواژه
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i>
              <p>
                خروج

              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>