body{
    text-align: right !important;
    direction: rtl !important;
}



.btn-show-pass{
    right:inherit;
    left: 0;
}

.field-error-p{
    color: rgba(255,42,35,0.73);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background-color:rgba(255,2,0,0.11) ;
}