{% extends 'Website/base.html' %}
{% load static %}
{% block header %}
        <header class="masthead" style="background-image: url('{% static 'base/assets/img/Buggati_yellow.jpg' %}')" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>تماس با ما</h1><br>
                            ↓ <br><br>
                            برای ارتباط با شماره <span style="color: red">09120000000</span> تماس بگیرید
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div>
</div>

{% endblock %}

{% block main %}

{% endblock %}