{% extends 'Website/base.html' %}
{% load  static %}
{% block header %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'base/assets/img/Buggati_yellow.jpg' %}')" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>خانه</h1>
                            ↓
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block main %}
<!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1>با سلام ,  </br></br>

                        برای کسب اطلاعات , تست شتاب , 0 تا 100 و ... ویدیو زیر را تماشا کنید.

                        </br></br>
                        </br></br>


                        <iframe class="buggati-all-tests" width="560" height="315" src="https://www.youtube.com/embed/LSFX9vrwJf8" title="YouTube video player"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </h1>
                    <!-- Pager-->
                </div>
            </div>
        </div>
    <link rel="stylesheet" href="{% static 'products/assets/css/my-products-css.css' %}">
    <div style="width: 200px ; height: 400px"></div>
{% endblock %}



