{% extends 'Website/base.html' %}
{% load ratings %}
{% load static %}
{% block header %}
{% load comment_tags %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ object.image.url }}')" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{object.title}}</h1>
                            <span class="subheading">⇓</span>
                            <div>{% ratings object %}</div>
                            <div>{{ object.hits.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block main %}

        <center> <div class="image_product">
             <center><img class="real_image" src="{{ object.image.url }}"></center>
        </div>
         </center>
        <div class="product_title">
            نام ماشین : {{ object.title|safe }}
        </div><br>

        {% if object.is_special %}
            {% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser %}
            <div class="product_description">
            توضیحات : {{ object.description|safe }}
            </div>
             {% endif %}
        {% else %}
            <p>برای دیدن ماشین های ویژه <a href="#">اشتراک</a> تهیه کنید</p>
        {% endif %}
        <div class="" style="background-color: rgba(152,150,226,0.51)">

     <div class="product_comments" style="width: 800px; padding: 60px; margin-top: 300px; margin-right: 40px">
        {% render_comments object request %}  {# Render all the comments belong to the passed object "obj" #}
    </div>
        </div>
{% endblock %}
