{% extends 'Website/base.html' %}
{% load static %}
{% load ratings %}
{% block header %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'base/assets/img/Buggati_yellow.jpg' %}')" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>محصولات</h1><br>
                            ↓
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div>
</div>
{% endblock %}

{% block main %}
    <center>
<form class="form-inline" action="{% url 'searchbar' %}">
    <input type="text" name="q" class="form-control" placeholder="جست و جو محصولات" style="text-align: center; border: 5px solid rgba(255,0,204,0.16); border-radius: 30px; width: 500px">
    <button class="btn btn-success" style="padding: 10px; margin-top: 10px; border-radius:20px; margin-right: 40%">برو</button></br>
</form>
    </center>

    <center style="margin-top: 80px">
        بوگاتی</br>
        ↓
    </center>
<div class="main_product_div" style="width: auto; height:1000px">
{% for car in object_list %}

    <div class="edit-later" style="margin-top: 90px">
    <div class="main_product_item" style="float: left; width: 270px;height: 300px; background-color: rgba(255,0,65,0.28);margin:18px;margin-left: 40px ;border: rgba(255,0,9,0.71) 3px solid;border-radius: 5px">
        <div class="product_item_image" style="width: 270px; height: 140px">
            <img src="{{ car.image.url|safe }} " style="width: 265px ; height: 140px">
           <div class="product_item_name" style="height: 30px"> نام خودرو :
            {{car.title|safe}}</div>
            <div class="product_item_description"> توضیحات :
            {{car.description|truncatechars:40|safe}}</div>
       <a href="{% url 'product_detail_page' car.slug %}"> <button class="Product_item_buy_button" style="background-color:#bbff93;width: 263.5px; height: 40px; margin-top:53px ;border-radius: 5px">خرید</button></a>
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
    <!-- Pager-->
<div class="product_paginator">
    {% if page_obj.has_next %}
        <div class="d-flex justify-content-end mb-4" style="float: right ; margin-top: 20px; margin-right: 40px"><a class="btn btn-primary text-uppercase" href="{% url 'products' %}?page={{ page_obj.next_page_number }}">→ بعدی</a></div>
    {% endif %}

    {% if page_obj.has_previous %}
    <div class="d-flex justify-content-end mb-4" style="float: left ; margin-top: 20px; margin-left: 40px"><a class="btn btn-primary text-uppercase" href="{% url 'products' %}?page={{ page_obj.previous_page_number }}">قبلی ←</a></div>
    {% endif %}
</div>
{% endif %}
    </div>
{% endblock %}
</div>

