body{
    direction: rtl;
    text-align: right;
}
.main_product_detail{
    width: auto;
    height: 1200px;
    background: #e3e0e0;
    margin: 0 10px;
}
.image_product{
    width: 600px;
    height: auto;
    border: 5px salmon solid;
}
.real_image{
    width:100%;
    height:100%;
}
.product_title{
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.product_description{
    width:100%;
    height: auto;
    float: right;
    padding: 0 80px;
}
.product_paginator{
    width: auto;
    height: 100px;
    background:rgba(251,255,142,0.31);
    border: rgba(255,238,0,0.31) 3px solid;
}
.btn{
    width: 200px;
    float: right;
}
.deletethis{
    text-align: center;
    padding-bottom: 20px;
}
.none{
    margin-top: 20px;
}